/* EMPATHY MAP CARD SECTION */
.empathy-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(525px, 1fr));
}

.empathy-card {
  border-radius: var(--border-radius);
  background-color: var(--color-elevation);
  padding: 1em;
  margin: 1em;
  /* max-width: 600px; */
}
img:hover {
  box-shadow: var(--border-shadow);
}

.empathy-card img {
  width: 100%;
  border-radius: 30px;
  /* box-shadow: var(--border-shadow); */
  /* width: 90%;
  height: 30%;
  object-fit: cover; */
}


/* JOURNEY MAP CARD SECTION */

/* .journey-box {
  display: grid;
  grid-template-columns: repeat(2, minmax(700px, 1fr));
}
.journey-cards {
  padding: 0 50px;
}
.journey-cards > img {
  margin: 20px;
}
@media (max-width: 2200px) {
  .journey-box {
  display: block;
  }
} */

.map_box {
  padding: 0;
}

.map_box > img {
  width: 80%;
  max-width: 900px;
  display: block;
  /* box-shadow: var(--border-shadow); */
  margin: 0 auto 20px auto;
}