:root {
  --color1: #14467B;
  --color2: #1663B3;
  --color3: #7EBAF9;
  --color4: #D1DFEA;
  --color5: #E0F5FA;
  
  --color-lightmode-background: var(--color4);
  --color-lightmode-text: var(--color1);
  --color-lightmode-elevation: var(--color5);
  --color-lightmode-highlight:var(--color5);

  --color-lightmode-shadow: grey;
  --color-darkmode-shadow: rgb(227, 227, 227, 0.5);

  --color-darkmode-background: var(--color1);
  --color-darkmode-text: var(--color4);
  --color-darkmode-elevation: hsl(236, 88%, 20%);
  --color-darkmode-highlight:var(--color2);

  --color-background: var(--color-lightmode-background);
  --color-text: var(--color-lightmode-text);
  --color-elevation: var(--color-lightmode-elevation);
  --color-highlight: var(--color-lightmode-highlight);
  
  --font-stack: "Libre Franklin", sans-serif;
  --type-scale: 1.333;
  --font-s: 24px;
  --font-m: calc(var(--font-s) * var(--type-scale));
  --font-l: calc(var(--font-m) * var(--type-scale));
  --font-xl: calc(var(--font-l) * var(--type-scale));
  --font-xxl: calc(var(--font-xl) * var(--type-scale));
  --font-xxxl: calc(var(--font-xxl) * var(--type-scale));
  
  --border-radius: 12px;
  
  --border-shadow: 3px 3px 5px 1px var(--color-lightmode-shadow);
}

html {
  padding: 60px 120px;
  background-color: white;
  margin: 0;
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-darkmode-background);
    --color-text: var(--color-darkmode-text);
    --color-elevation: var(--color-darkmode-elevation);
    --border-shadow: 4px 4px 0 var(--color-darkmode-shadow);
    --color-highlight: var(--color-darkmode-highlight);
  }
  html {
    background-color: rgb(7, 3, 39);
  }
}


body {
  background-color: var(--color-background);
  color: var(--color-text);
  line-height: 1;
  font-family: var(--font-stack);
  font-optical-sizing: auto;
  font-style: normal;
  padding: 30px;
  border-radius: 25px;
  box-shadow: var(--border-shadow)
}

@media (max-width:700px) {
  :root {
    /* --font-xxxl: var(--font-xxl);  */
    --font-l: var(--font-m);
    --font-s: 18px;
  }
  html {
    padding: 0px;
    /* background-color: rgb(92, 74, 232); */
  }
  body {
    padding: 30px;
    border-radius: 0;
    margin: 0;
    box-shadow: none;

  }
}

h1 {
  font-size: var(--font-xxxl);
  font-weight: 900;
  text-wrap: balance;
  margin: 60px 20px;
  font-family: "MuseoModerno", Verdana , sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  /* font-size: 5rem; */
}

h3 {
  font-weight: 700;
  font-size: var(--font-l);
  margin: 40px 20px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

ul, ol, p, a {
  margin: 20px 20px;
  font-size: var(--font-s);
  line-height: var(--type-scale);
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  color: var(--color-text);

}
ul > li {
  font-style: normal;
}
ol > li, ol > li > a {
  font-size: 18px;
}
ol > li:hover a {
  background-color: var(--color-highlight);
  padding: 0 4px;
}

ol > li a:visited {
  color: var(--color-text);
}


blockquote {
  font-family: "Open Sans", sans-serif;
  font-size: var(--font-s);
  font-weight: 100;
  font-style: italic;

}

hr {
  border: none;
  height: 2px;
  border-top: 2px dashed white;
  
}

img {
  border-radius: 25px;
}

strong {
  font-weight: 600;
}


/* Screen readers text, hide from website view */
/* code from online */
.sr {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
